*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}








/* SMARTPHONES (iPhone 5) PORTRAIT */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  img {
    width: 240px;
    justify-content: center;
  }

  .container {
  width: 350px;
  height: 380px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }
}


/* SMARTPHONES (Galaxy S5) PORTRAIT */
@media only screen and (min-width: 360px) {
  img {
    width: 270px;
    justify-content: center;
  }

  .container {
  width: 350px;
  height: 380px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }
}

/* SMARTPHONES (iPhone 6/7/8) PORTRAIT */
@media only screen and (min-width: 375px) {
  img {
    width: 280px;
    justify-content: center;
  }

  .container {
  width: 350px;
  height: 380px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }
}

/* SMARTPHONES (Pixel 2 && Pixel 2 XL) PORTRAIT */
@media only screen and (min-width: 411px){
  img {
    width: 310px;
    justify-content: center;
  }

  .container {
  width: 350px;
  height: 400px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }
}


/* SMARTPHONES (iPhone+) PORTRAIT */
@media only screen and (min-width: 414px)  {
  img {
    width: 315px;
    justify-content: center;
  }

  .container {
  width: 350px;
  height: 400px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {

  img {
    width: 270px;
    align-items: center;
    justify-content: center;
  }

  .container {
  width: 350px;
  height: 380px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

  img {
    width: 580px;
    justify-content: center;
  
    

  }

  .container {
  width: 600px;
  height: 640px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }

  .btn {
    font-size: 1.5em;
  }

}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

  img {
    width: 800px;
    justify-content: center;

  }

  .container {
  width: 850px;
  height: 880px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }

  .btn {
    font-size: 2em;
  }

} 
